body{
    margin: 0;
    padding: 0;
    overflow-y: hidden;

}
h1{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    text-align: center;
    margin: 0;
    padding: 0;
    color: #fff;
    font-size: 40px;
    text-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}
#particles-js{
    height: 100%;
    background: #262626;
    
}
.btn {
    position: absolute;
    top: 60%;
    transform: translateY(-60%);
    transform: translateX(170%);
    text-decoration: none;
    font-size: 40px;
    padding: 12px 24px;
    color: white;
    display: inline-block;
    text-align: center;
    opacity: 0.8;
    border-radius: 2px;
    background-color: #303030;
    border: 2px solid #202020;
  }
.name{
    position: absolute;
    transform: translateX(10%);
    top: 1%;
    color: white;
}
.icon{
    size: 5px;
}
.home{
background: #232526;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #414345, #232526);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #414345, #232526); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

 height: 100vh;
}
.topbanner{
    font-size: 40px;
    height: 60px;
    font-family: 'Trade Winds',cursive;
    font-weight: 400;
    background: #303030; 
    background-blend-mode: multiply,multiply;
    color: #808080;
    padding: 0 15px;
    margin: 0 auto;
}